*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 9px;
}

.sidenav .logo-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 10px;
}
.sidenav .logo-title img {
    width: 90px;
    position: relative;
    bottom: 0px;
    right: 10px;
}
.sidenav .logo-title h2{
    position: relative;
    color: black;
    font-weight: bold;
    right: 10px;
}

.sidenav {
    width: 250px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    color: black;
}

.sidenav ul { 
    display: flex;
    flex-direction: column;
}

.sidenav ul a {
    padding: 10px;
    padding-left: 10px;
    color: white;
    text-decoration: none;
    margin-block: 2px;
}
.sidenav ul a:hover {
    background-color: #5fa8d3 ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
}

.sidenav ul a li {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.sidenav ul a { color:#000; }
.sidenav ul #settings li h3 { font-size: 20px; }
.sidenav ul #settings li svg { color: #000; }
.sidenav ul #logout li svg {color: darkred; }
.sidenav ul #logout li svg:hover {color: red; }

.sidenav ul .logout.active { background-color: #222; }

/* Dropdown Menu */
#orders:focus {
    background-color: #526f80; 
    color: white;
    border-top-left-radius: 10px;
}
.sidenav ul .dropdown .order-op{
    background-color: #b5b5b5;
    width: 232px;
}
.sidenav ul .dropdown .order-op:hover { color: white;}
.sidenav ul .dropdown .order-op .order-op {
    width: 232px;
    padding-right: 145px;
}

.dropdown {
    list-style: none ;
    position: relative;
    background-color: #e8e8e8;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3); 
    width: 232px;
    z-index: 10;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.dropdown li {
    padding-block: 10px;
    border-bottom: .5px solid #bcbcbc;
}


.dropdown li:last-child {
    border-bottom: none;
}

.dropdown li a {
    text-decoration: none;
    font-size: 13px;
    color: #090909;
}

.dropdown.hidden {
    display: none;
}
