/* Basic styling for the tab buttons */
.bg { background-color: #555;}
.bgProducts { background-color: #d1d1d1;}

.switchTabButton {
    display: flex;
    border-bottom: 2px solid #ccc;
    position: absolute;
    top: 5px;
    z-index: 1  ;
    margin-top: 5px;
    left: 270px;
    width: 100vh;
}

.tab-btn {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background-color: #4e82e2;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #333;
}

.tab-btn:hover {
    background-color: #7c7c7c;
    color: #96afdf;
}

/* Style for the active tab */
.tab-btn.active {
    background-color: #ccc;
}

/* Basic styling for the tab content */
.tab-content {
    display: none;
    padding: 20px;
    background-color: #4e82e2;
    border-top: none;
    text-align: center;
    font-size: 34px;
    position: relative;
    left: 270px;
    bottom: 0;
    top: 0;
}

.tab-content.active {
    display: block;
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
    .switchTabButton {
        flex-direction: column;
        border-bottom: none;
    }

    .tab-btn {
        border-bottom: 1px solid #ccc;
    }
    .tab-btn.active {
        border-bottom: none;
    }
}


@media (min-width: 1024px) {
}