* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.success { color: green; }
.error { color: #ff0000;}


.header {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.header .buttons {
    display: flex;
}
.header .buttons a {
    padding-inline: 5px;
}
.header .buttons form .search {
    width: 60px;
}
.header .buttons form input:focus {
    border: 1px solid #d1d1d1;
}

.header .buttons form input {
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border: 1px solid #616161;
    border-radius: 3px;
    width: 250px;
}
.header .buttons a button{ 
    color: white;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: transparent;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
}
.header .buttons a button:hover {
    border: 1px solid rgb(0, 0, 0);
    color: black;
    background: #d1d1d1;
}

.table table tr:nth-child(odd) {
    background-color: #dddddd;
}

.table table thead tr th {
    border: 1px solid black;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:10px;
    text-align: center;
    background-color: cornsilk;
}

.table {     
    overflow-y: auto;
    border-collapse: collapse;
}
.table table tbody tr td {
    font-size: 12px;
    padding: 10px;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.table table tbody tr td img {
    border-radius: 3px;
    margin:auto; 
    min-width: 50px; max-width: 70px;
}

.table table tbody tr td button { 
    width: 80px;
    padding: 5px;
    padding-inline: 10px;
    border: 1px solid black;
}


#zero { text-align: center;}
#one { max-width: 200px; min-width: 20px; } 
#two {min-width: 70px; max-width: 110px;} 
#three { min-width: 130px; } 
#four { min-width: 115px; } 
#five { min-width: 115px; } 
#six { min-width: 150px } 
#seven {min-width: 300px; max-width: 500px; overflow-x: scroll;} 
#eight { min-width: 130px; } 



/* add gear file */
.form { 
    margin: auto;
    background-color: #464646;
    padding: 10px;
    width: 350px;
    height: auto;
    color: white;
    margin-bottom: 0;
}

.form form div label { font-size: 15px;}
.form form div input, .form form div textarea { font-size: 13px; padding: 6px; padding-left: 15px; }
.form form button { padding: 5px; font-size: 15px; font-weight: bold;}


