@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
::-webkit-scrollbar {
    display: none;
}

html, body {
    -ms-overflow-style: none;
}

*{
    scrollbar-width: none; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    .cart {

        .title h2{
            padding-top: 70px;
            padding-left: 90px;
            font-family: Montserrat;
            font-weight: 300;
            font-size: 2em;
            letter-spacing: 0.30em;
            margin-bottom: 40px;
        }

        .items {
            border-top: 1px solid gray;
            /* border-bottom: 1px solid gray; */

            .options {
                height: 50px;
                padding: 5px 30px;
                margin-top: 20px;
                margin-bottom: 50px;
                border: 1px solid grey;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                
                
                .one {
                    display: flex;
                    #deleteBtn {
                        padding: 3px;
                        border-radius: 3px;
                        background-color: red;
                        color: white;
                        cursor: pointer;
                        width: 100px;
                    }

                }

                .two {
                    display: flex;
                    flex-direction: row;
                }

                .total { 
                    gap: 10px;
                    position: right;
                    right: 0;
                    display: flex;
                    align-items: center;

                    a{

                        button{
                            width: 100px;
                            height: 30px;
                            color: white;
                            border-radius: 5px;
                            background-color: grey;
                        }
                    }
                }
            }

            table {
                border-collapse: collapse;
                width: 100%;
                thead {
                    tr {
                        th {
                            border: 1px solid black;
                            padding: 3px;
                        }
                    }
                }
                tbody {
                    tr {
                        border: 1px solid darkgrey;
                        margin-bottom: 3px;

                        
                        td {
                            text-align: center;
                            padding: 5px;

                            .empty {
                                border: 1px solid gray;
                                border-radius: 3px;
                                padding: 3px;
                                width: 100px;
                                text-decoration: none;
                                margin: 20px;
                                background-color: darkgoldenrod;
                                color: white;
                            }
                            .empty:hover {
                                background-color: dakr;
                            }

                            img {
                                width: 100px;
                                height: 100px;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
