@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    display: none;
}

html, body {
    -ms-overflow-style: none;
}

*{
    scrollbar-width: none; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.library{
    
    .library-title{
        /* border: 1px solid #000; */
        
        h2{
            padding-top: 70px;
            padding-left: 90px;
            font-size: 2em;
            font-family: Montserrat;
            font-weight: 300;
            letter-spacing: .30em;
        }
    }

    .bg {

        .card-container{
            padding-inline: 100px;
            padding-block: 30px;
            margin-top: 20px;
            gap: 20px;
            background-image: url('../img/sbg.png');
            background-size: cover;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            
            .library-card{
                background-color: rgba(104, 104, 104, 0.77);
                width: 320px;
                height: 450px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-decoration: none; 
                border: 1px solid rgba(99, 99, 99, 0.678);
                padding-top: 80px;
                padding-bottom: 50px;
                color: rgb(255, 171, 111);
                border-radius: 85% 15% 83% 17% / 15% 89% 11% 85% ;
                transition: all 300ms;
            }
            .library-card:hover { 
                transform: scale(1.1); 
                background: #474747;
                color: white;
                border-radius: 66% 34% 61% 39% / 45% 59% 41% 55%  ;
            }
            .library-card:hover img {
                border-radius: 75% 25% 66% 34% / 36% 53% 47% 64% ;
            }
            .library-card:hover button{
                opacity: 1;
                border-radius: 3px;
            }
            .bgimg{
                width: 290px;
                opacity: .9;
                margin-top: 30px;
                border-radius: 85% 15% 83% 17% / 15% 89% 11% 85% ;
            }
    
            h3{
                position: relative;
                bottom: 100px;
                font-size: 2em;
                font-weight: 600;
                font-family: Montserrat;
                font-weight: 300;
                letter-spacing: .30em;
            }
    
            button{
                width: 150px;
                font-size: 1.25rem;
                font-family: Montserrat;
                font-weight: 300;
                padding: 10px 20px;
                letter-spacing: .30em;
                backdrop-filter: blur(3px) saturate(147%);
                -webkit-backdrop-filter: blur(3px) saturate(147%);
                background-color: rgba(155, 155, 155, 0.1);            border: 1px solid #000;
                opacity: 0;
                color: white;
                border: 1px solid rgba(255, 255, 255, 0.125);
                margin-bottom: 80px;
                transition: all 500ms;
                cursor: pointer;
            }
            button:hover{
                color: #fff;
                background-color: #000;
                border-radius: 5px;
            }
            h4{ 
                font-size: 1.5em;
                font-weight: bold;
                font-family: Montserrat;
                font-weight: 300;
                letter-spacing: .30em;
            }
    
    
    
    
            .modal{
                width: 700px;
                height: 500px;
                max-width: 90%;
                border: 1px solid  rgba(104, 104, 104, 0.678);
                border-radius: 1px;
                transform: translate(-50%, -50%) scale(0);
                transition: 200ms ease-in-out;
                z-index: 10;
                background-color: #d2d2d2;
                position: fixed;
                top: 52%;
                left: 50%;
                overflow: hidden;
                overflow-y: scroll;
            }
            .modal.active{
                z-index: 3;
                transform: translate(-50%, -50%) scale(1);
            }
        
            .modal-header {
                background-color: #202020;
                height: 80px;
                width: auto;
                display: flex;
                position: sticky;
                top: 0;
                z-index: 1;
                justify-content: space-between;
                align-items: center;
                scrollbar-gutter: 0;      
    
                .title {
                    padding-left: 30px;
                    color: white;
                }
                .close-button{
                    opacity: 1;
                    position: relative;
                    top: 30px;
                    background: transparent;
                    font-size: 1.50rem;
                    width: 50px;
                    right: 5px;
                }
                .close-button:hover { color: darkred; background-color: #202020;}
            }
    
            .modal-body{
                display: grid;
                padding: 20px;
                grid-template-columns: 50% 50%;
                gap: 20px;
                padding-right: 40px;
    
                .gears:hover {
                    transform: scale(1.1); 
                    background-color:#202020;
                    border-radius: 5px;
                }           
            
    
    
                .gears:hover .onHover{
                    display: block;
                    transform: translate(0, 100px);             
                }
    
                .gears:hover .con .shopBtn {
                    display: block;
                }
    
                .gears {
                    background-color: transparent;
                    border: 1px solid #3f3f3f69;
                    height: 320px;
                    display: flex;
                    flex-direction: column;
                    transition: 200ms;
                    
                    .con {
                        padding: 3px;
    
                        a {
                            img {
                                width: 310px;
                                height: 310px;
                            }
                        }
                        
                        .shopBtn {
                            color: rgb(255, 193, 148);
                            border: 1px solid white;
                            padding: 10px;
                            padding-inline: 25px;
                            border-radius: 3px;
                            width: 200px;
                            text-align: center;
                            text-decoration: none;
                            position: relative;
                            bottom: 20%;
                            left: 50px;
                            display: none;
                            transition: 1000ms;
                        }
                        .shopBtn:hover {
                            color: white;
                            background: black;
                            border-radius: 5px;
                        }
                    }
    
    
                    .onHover {
                        background: #000000bb;
                        display: none;
                        padding: 10px;
                        position: relative;
                        top: -450px;
    
                    }
                    h3{
                        font-size: 23px;
                        font-weight: 600;
                        color: white;
                        position: relative;
                        top: 0px;
                    }
                    p{
                        color: rgb(207, 207, 207);
                        font-weight: 100;
                        font-size: 13px;
                        position: relative;
                        top: 10px;
                    }
                }
            }
        }
    }
}             
#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
