@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.library{
    
    .library-title{
        /* border: 1px solid #000; */
        
        h2{
            padding-top: 70px;
            padding-left: 90px;
            font-size: 2em;
            font-family: Montserrat;
            font-weight: 300;
            letter-spacing: .30em;
        }
    }
    .card-container{
        margin-top: 20px;
        padding: 25px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 1px;
        background-image: url('../img/1.jpg');
        
        .library-card{
            background-color: rgba(104, 104, 104, 0.678);
            width: 320px;
            height: 440px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none; 
            border: 1px solid rgba(104, 104, 104, 0.678);
            padding-top: 60px;
            color: white;
            transition: all 300ms;
        }
        .library-card:hover { 
            transform: scale(1.1); 
            background: #2c2c2cf3;
            border-radius: 10px;
            color: white;
        }

        .library-card:hover button{
            opacity: 1;
            border-radius: 5px;
        }
        img{
            width: 290px;
            opacity: .9;
            border-radius: 5px;
        }
        img:hover{
            border-radius: 20px;
        }
        h3{
            position: relative;
            bottom: 100px;
            font-size: 2em;
            font-weight: 600;
            font-family: Montserrat;
            font-weight: 300;
            letter-spacing: .30em;
        }

        button{
            width: 150px;
            padding: 10px 20px;
            font-size: 1.25rem;
            font-family: Montserrat;
            font-weight: 300;
            letter-spacing: .30em;
            background-color: #fff;
            border: 1px solid #000;
            opacity: 0;
            transition: all 500ms;
        }
        button:hover{
            color: #fff;
            background-color: #000;
            border-radius: 5px;
        }

        .modal{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: 200ms ease-in-out;
            border: 1px solid #d1d1d1;
            border-radius: 3px;
            z-index: 10;
            background-color: #d1d1d1;
            width: 100%;
            height: 500px;
            max-width: 80%;
            overflow: hidden;
            overflow-y: scroll;
        }
        .modal.active{
            transform: translate(-50%, -50%) scale(1);
        }
        .modal-header{
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid black;
        }
        .modal-header .title{
            font-size: 1.25rem;
            font-family: Raleway;
        }
        .modal .modal-content .modal-header .close-button{
            cursor: pointer;
            border: none;
            outline: none;
            background: none;
            font-size: 1.50rem;
            font-weight: bold;
        }
        .modal-body{
            padding: 20px;
        
            img{
                width: 250px;
                background-color: black;
                border-radius: 10px;
            }
        }
    }
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
