@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    display: none;
}

html, body {
    -ms-overflow-style: none;
}

*{
    scrollbar-width: none; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    font-family: Montserrat;
    font-weight: 300;
}
.header {
    position: sticky;
    top: 0;
    margin-top: 5px;
    backdrop-filter: blur(3px) saturate(147%);
    -webkit-backdrop-filter: blur(3px) saturate(147%);
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    z-index: 1;
    nav{
        width: 100%;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

        .logo{     
            a{
                img{
                    width: 70px;
                    position: absolute;
                    top: 15px;
                    left: 50px;
                }
            }
        }
        .links{
            padding: 0 30px;
            margin: 0;
            font-style: Montserrat;
            font-size: .98rem;
            display: flex;
            justify-content: center;
            align-items: center;
        
            a{
                color:#000;
                font-family: Montserrat;
                font-weight: 300;
                font-size: 1rem;
                text-decoration: none;
                transition: 150ms;
                li{
                    padding: 20px 55px;
                    border-left: 1px solid #000;
                    list-style-type: none;
                }
            }
            a:hover {
                background: #333;
                li {
                    color: rgb(255, 193, 148);
                }
            }
        }
    }
}
header {
    .header-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
       
        img{
            width: 450px;
            position: absolute;
            top: 50px;
        }
        h2{
            font-family: Montserrat;
            font-size: 3.50rem;
            font-weight: 300;
            display: flex;
            justify-content: center;
        }
        h1{
            font-family: Montserrat;
            font-size: 3.50rem;
            font-weight: 300;
            display: flex;
            justify-content: center;
        }
        a{
            width: 150px;
            padding: 10px 20px;
            font-family: Montserrat;
            font-size: 1rem;
            font-weight: 500;
            display: flex;
            justify-content: center;
            transition: 500ms;
            border: 1px solid transparent;
            border-radius: 8px;
            color: rgb(251, 143, 67);
        }
        a:hover {
            color: white;
            text-decoration: none;
            border: 1px solid seashell;
            background-color: #434343;
        }
        a:active {
            color: rgb(251, 143, 67);
            border: 1px solid rgb(251, 143, 67);
        }
    }
}

/* about */

.about{
    


    
    
    .about-title{
       
        h2{
            margin-top: 200px;
            margin-left: 90px;
            font-family: Montserrat;
            font-size: 1.70rem;
            font-weight: 300;
        }
    }
    .about-body{
        margin-left: 90px;
        margin-right: 90px;
        gap: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .about-question{
            
            h2{
                font-family: Montserrat;
                font-size: 1.70rem;
                font-weight: 300;
            }
        }
        .about-img{
    
            img{
                width: 450px;
            }
        }
    }
}
