@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
::-webkit-scrollbar {
    display: none;
}

html, body {
    -ms-overflow-style: none;
}

*{
    scrollbar-width: none; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.shop{


    .shop-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 70px;
        padding-left: 90px;
        padding-right: 90px;

        .ss {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;

            form {
                input {
                    padding: 5px;
                    padding-inline: 10px;
                }
                button {
                    position: relative;
                    right: 40px;
                    padding: 5px;
                    padding-inline: 10px;
                }
            }

            h2{
                font-size: 2em;
                font-family: Montserrat;
                font-weight: 300;
                letter-spacing: .30em;
            }
            a{
                color: #000;
                font-size: 1.25rem;
            }
        }
    }
    .card-container{
        background-image: url('../img/landing.webp');
        margin-top: 20px;
        padding-inline: 100px;
        padding-block: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        .library-card{
            background-color: rgba(104, 104, 104, 0.678);
            width: 320px;
            height: 450px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none; 
            border: 1px solid rgba(104, 104, 104, 0.678);
            padding-top: 80px;
            padding-bottom: 50px;
            color: white;
            border-radius: 85% 15% 83% 17% / 15% 89% 11% 85% ;
            transition: all 200ms;
        }
        .library-card:hover { 
                transform: scale(1.1); 
                background: #2c2c2cf3;
                color: white;
                border-radius: 66% 34% 61% 39% / 45% 59% 41% 55%;
            }
            .library-card:hover img {
                border-radius: 75% 25% 66% 34% / 36% 53% 47% 64% ;
            }

            img{
                background-color: rgba(17, 25, 40, 0.75);
                padding: 50px; 
                width: 290px;
                opacity: .9;
                margin-top: 30px;
                border-radius: 85% 15% 83% 17% / 15% 89% 11% 85% ;
            }
            
            h3{
                padding-top: 5px;
                font-size: 1.1em;
                font-weight: 600;
                font-family: Montserrat;
                font-weight: 300;
                letter-spacing: .30em;
            }
            h4{
                margin: 20px;
                margin-left: 0px;
                font-size: .90em;
                font-family: Montserrat;
                font-weight: 300;
                letter-spacing: .30em;
                transition: all 200ms;
            }
            .btn{
                width: 150px;
                padding: 10px 20px;
                font-size: 1rem;
                font-family: Montserrat;
                font-weight: 600;
                position: relative;
                bottom: 137px;
                cursor: pointer;
                /* letter-spacing: .30em; */
                border-radius: 3px;
                color: white;
                background-color: transparent;
                border: 1px solid #e7e7e7;
                opacity: 0;
                transition: all 200ms;
            }
            .btn:hover{
                background-color: rgb(27, 27, 27);
                color: #fff;
            }


            
            .modal{
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: 200ms ease-in-out;
                border: 1px solid black;
                z-index: 10;
                backdrop-filter: blur(25px) saturate(133%);
                -webkit-backdrop-filter: blur(25px) saturate(133%);
                background-color: rgba(74, 74, 74, 0.24);
                border-radius: 12px;
                border: 1px solid rgba(255, 255, 255, 0.125);                width: 70%;
                height: 550px;
                overflow: hidden;
                
                
            }
            .modal-header{
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .product-img{

                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
            
                    img{
                        width: 450px;
                        height: 380px;
                        border-radius: 10px;
                    }
                }

                form {
                    .product-details{
                        background-color: #d1d1d1;
                        height: 90vh;
                        width: 500px;
                        padding: 15px;
                        padding-top: 20px;
                        padding-left: 30px;
                        p {
                            font-family: Montserrat;
                            font-size: 1.70rem;
                            font-weight: 600;
                        }
                        h3{
                            font-family: Montserrat;
                            font-size: 1.20rem;
                            font-weight: 500;
                        }

                        .inputs {
                            display: flex;
                            flex-direction: column;
                            margin-top: 30px;
                            gap: 30px;

                            .dropdown{
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                select {
                                    width: 300px;
                                    text-align: center;
                                }
                            }

                            .quantity {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                input {
                                    width: 300px;
                                    text-align: center  ;
                                    
                                }
                                input[type="number"]::-webkit-inner-spin-button,
                                input[type="number"]::-webkit-outer-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                }

                                .control {
                                    position: relative;
                                    left: 310px;
                                    bottom: 25px;
                                    button { width: 20px;}
                                }
                            }
                        }
                        .cart-button {
                            display: flex;
                            gap: 10px;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;

                            .cart button {color: white; font-size: 14px; font-weight: 600; background-color: rgb(190, 75, 30); border-radius: 3px; cursor: pointer; width: 120px; padding: 10px;}
                            .buy button {color: white; font-size: 14px; font-weight: 600; background-color: rgb(34, 135, 194); border-radius: 3px; cursor: pointer; width: 120px; padding: 10px;}
                            
                            .buy button:hover { 
                                background-color: #1d1d1d;
                                color: white;
                            }
                            .cart button:hover { 
                                background-color: #1d1d1d;
                                color: white;
                            }
                        }
                    }
                }
            }
            /*
            .product-details{
                width: 50%;
                height: 100%;
                padding-top: 20px;
                padding-left: 70px;
                background-color: #d1d1d1;
                p{
                    font-family: Montserrat;
                    font-size: 1.70rem;
                    font-weight: 600;
                }

                .dropdown-container {
                    width: 200px;
                    margin-top: 40px;
                }
                label{
                    margin-top: 40px;
                    font-size: .90em;
                    font-family: Montserrat;
                    font-weight: 300;
                    letter-spacing: .30em;

                }
        
                select {
                    width: 100%;
                    padding: 8px;
                    margin-top: 8px;
                    border: 1px solid #000;
                     border-radius: 4px;
                    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
                    outline: none;
                    appearance: none; 
                    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg width='12px' height='12px' viewBox='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='icon-111-triangle-down' fill='%23666'%3E%3Cpath d='M0,0 L12,0 L6,6 L0,0 Z' id='Triangle'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 95% 50%;
                    background-color: white;
                    cursor: pointer;
                }
        
                
                select:hover {
                    border-color: #888;
                }
        
              
                select:focus {
                    border-color: #aaa;
                }
                
                .quantity{
                    
                    h3{
                        margin-top: 20px;
                        margin-bottom: 10px;
                        font-family: Montserrat;
                        font-size: .90em;
                        font-weight: 300;
                        

                    }
                    .number-input{
                        width: 100px;
                        border: 1px solid #000;
                        margin: 10px;
                        height: 30px;
                        margin: 0;
                        padding-left: 10px;
                    }
                }
                
                .cart-button{
                    
                    .cart{
                        padding-top: 40px;
                        
                        button{
                            width: 80%;
                            height: 40px;
                            background-color: #fff;
                            color: #000;
                            border: 1px solid #000;
                            cursor: pointer;
                        }
                        button:hover {
                            background-color: #1b1b1b;
                            color: white;
                            border-radius: 5px;
                        }
                    }
                    .buy{
                        padding-top: 10px;
                        
                        button{
                            cursor: pointer;
                            width: 80%;
                            height: 40px;
                            background-color: #000;
                            color: #fff;
                            border: 1px solid #000;
                        }
                        button:hover {
                            background-color: #1b1b1b;
                            border-radius: 5px;
                        }
                    }
                }
            }
                */

            .modal-header .close-button{
                cursor: pointer;
                border: none;
                outline: none;
                background: none;
                font-size: 2.50rem;
                font-weight: bold;
                position: absolute;
                top: 10px;
                right: 13px;
                transition: 500ms;
            }
            .modal-header .close-button:hover {
                color: darkred;
            }

            #overlay{
                position: fixed;
                opacity: 0;
                transition: 200ms ease-in-out;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.5);
                pointer-events: none;
            }
            #overlay.active{
                opacity: 1;
                pointer-events: all;
            }




            .modal.active{
                transform: translate(-50%, -50%) scale(1);
            }
        }
        .library-card:hover {
            transform: scale(1.1);
            backdrop-filter: blur(16px) saturate(180%);
            -webkit-backdrop-filter: blur(16px) saturate(180%);
            background-color: rgba(17, 25, 40, 0.75);
        }
        .library-card:hover img{
            background-color: rgb(42, 42, 49);
        }   

        .library-card:hover .btn{
            opacity: 1;
        }
        
    }

    