.tab-content { display: none; }
.tab-content.active { display: block; }


.main {
    main {
        .card-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .tabs{
                button {
                    padding: 5px;
                    cursor: pointer;
                }
            }

            .tab-content {
                margin-top: 10px;
                background-color: aliceblue;
                width: 100%;
            }
        }
    }
}
